<div class="card mb-5">
    <div class="card-header bg-secondary">
        <h3 "card-title"><a class="text-info" href="/postedit/{{id}}">{{title}}</a></h3>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>