 {{#if user.posts.length}}
<section>
    {{user.username}}
    <h3>Blog Post History</h3>
    {{#each user.posts as |post|}}
    <div>
    {{> post-details }}
    </div>
    {{/each}}

{{/if}}

</section>
<div>
    <button class="w-100 btn btn-md btn-primary m-1" id="new-blog-button">Add Tech Post</button>
</div>

<script src="/js/dashboard.js"></script>