 {{#if user.posts.length}}
<section>
    <h3>Blog Post History</h3>
    {{#each user.posts as |post|}}
    </div>
    {{!-- {{> dashboard post-details post}} --}}
    {{/each}}
</div>
{{/if}}
{{user.username}}
<div>
    {{!-- <a href="/postadd"> --}}
    <button class="w-100 btn btn-md btn-primary m-1" id="new-blog-button">Add Tech Post</button>
    {{!-- </a> --}}
</div>