<main class="form text-center">
    <h3 class="h3">Add Blog Post</h3>
    <form class="card-body" id="new-blog-form">
        <div class="form-floating mb-3">
            <label for="blog-title" class="form-label" ></label>
            <input type="text" id="blog-title" name="blog-title" class="form-input w-150" autofocus="true" placeholder="Title"/>
        </div>

        <div class="form-floating mb-3">
            <label class="form-label" for="content" ></label>
            <textarea id="content" name="content" class="form-input w-150" aria-label="With textarea"
                autofocus="true" placeholder="What would you like write about?"></textarea>
        </div>


        <button type="submit" class="w-150 btn btn-lg btn-info mb-3" id="add-blog-button">Create Blog Post</button>
    </form>
    </form>
</main>

<script src="/js/postadd.js"></script>